#headerdivborder {
  border-bottom: solid 3px rgb(255, 115, 0);
}
#divbotonesheader {
  top: -1rem;
  position: relative;
}
.carrusel {
  border-bottom: solid 3px rgb(255, 115, 0);
}
#pfooter {
  color: white;
}
#imgfooter {
  max-width: 250px;
  height: auto;
}
#footertotal {
  border-top: 3px solid rgb(255, 115, 0);
}
.carruselimagen {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-item {
  height: 600px;
}
select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
}

.autoscatalogo {
  width: 200px;
  height: 100pxpx;
}
.h6nuevo {
  width: 78px;
  text-align: center;
  border-radius: 7px;
  margin: 10px;
  color: white;
}
.barralateral {
  height: 100%;
}
.sobrenosotrosimg1 {
  background-image: url("../../img/about_us/about.jpg");
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
#cartaError {
  border: solid 1px rgb(255, 115, 0);
  color: white;
}
